<!DOCTYPE html>
<html class="h-100">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TADS - PW - Gerenciamento e Simulador de JSON</title>
  <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css" />
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body class="d-flex flex-column h-100">
  <!-- NAVBAR - INICIO -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gerenciamento e Simulador de JSON</a>
    </div>
  </nav>
  <!-- NAVBAR - FIM -->

  <div class="container-lg flex-shrink-0">
    <div class="row">
      <main class="col-lg-12">
        <h1 data-th-if="${item.id == null}">Incluir JSON</h1>
        <h1 data-th-unless="${item.id == null}">Alterar JSON - ID <strong data-th-text="${item.id}"></strong></h1>

        <div class="row mb-3">
          <label for="jsonFile" class="col-sm-2 form-label">Carregar arquivo</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" type="file" id="jsonFile">
          </div>
        </div>

        <hr />
        <p class="offset-sm-2">Se preferir não carregar arquivo, preencher os dados abaixo manualmente</p>
        <form method="post" novalidate id="formDados" data-th-object="${item}"> <!-- POR PADRAO, O SUBMIT FAZ REQUISICAO PARA A URL ATUAL -->
          <div class="row mb-3">
            <label for="txtNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" id="txtNome"
                placeholder="Preencha o nome para identificar o JSON"
                class="form-control" required
                data-th-field="*{nome}"
                data-th-classappend="${#fields.hasErrors('nome')}? is-invalid"
                />
              <p class="invalid-feedback" data-th-if="${#fields.hasErrors('nome')}" data-th-errors="*{nome}"></p>
              <p id="nomeAjuda" class="form-text">Digitar um nome sem acentuação, caracteres especiais (exceto - e _) e
                espaços em branco<br />Exemplos: fulano, ciclano-silva, teste123, teste_xpto</p>
            </div>
          </div>
          <div class="row mb-3">
            <label for="txtConteudo" class="col-sm-2 col-form-label">JSON</label>
            <div class="col-sm-10">
              <textarea id="txtConteudo"
                placeholder="Preencha o JSON ou carregue a partir de um arquivo"
                rows="20"
                class="form-control font-monospace" required
                data-th-field="*{conteudo}"
                data-th-classappend="${#fields.hasErrors('conteudo')}? is-invalid"
                ></textarea>
              <p class="invalid-feedback" data-th-if="${#fields.hasErrors('conteudo')}" data-th-errors="*{conteudo}"></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 offset-md-3">
              <div class="d-grid">
                <a data-th-href="@{/gerenciamento}" role="button" class="btn btn-outline-dark">Cancelar</a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="d-grid">
                <button type="submit" class="btn btn-success">Salvar</button>
              </div>
            </div>
          </div>
        </form>
      </main>

    </div>
  </div>

  <!-- FOOTER - INICIO -->
  <footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container text-center">
      <span class="text-body-secondary">&copy; Senac - TADS PW 2025 - @ftsuda</span>
    </div>
  </footer>
  <!-- FOOTER - FIM -->
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script>
    document.getElementById('jsonFile').addEventListener('change', function (evt) {
      const file = evt.target.files[0];
      const reader = new FileReader();
      reader.onload = function (evt1) {
        document.getElementById('txtConteudo').textContent = evt1.target.result;
        evt.target.files[0] = null;
        const inputNome = document.getElementById('txtNome');
        if (!inputNome.value) {
          const fileName = file.name.split('.').slice(0, -1).join('-') // Remove a extensão do arquivo
            .toLowerCase() // Converte para minúsculas
            .replace(/\s+/g, '-') // Substitui espaços em branco por -
            .normalize('NFD').replace(/[\u0300-\u036f]/g, "") // Remove acentuação
            .replace(/[^a-zA-Z0-9-_]/g, '') // Remove caracteres especiais
          inputNome.value = fileName;
        }
      };
      reader.readAsText(file);
    });
  </script>
</body>

</html>
